@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Movies.css" />


@* <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Release Year</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td ><a href = "/movies/getmovie/@movie.Id" > @movie.Name </a></td>
                <td>@movie.Rating</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.Genre</td>
            </tr>
        }
    </tbody>
</table> *@

<div class="bodyy">
    <div class="box" data-id="1" data-name="Titanic">
        <div classs="box-img">
            <a href="https://youtu.be/I7c1etV7D7g?si=gmyPFNOvbVTaj2dC">
                <img src="/images/titanic.jpg" alt="Titanic" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/1" class="caption">Titanic</a>
        </div>
    </div>

    <div class="box" data-id="2" data-name="Inception">
        <div classs="box-img">
            <a href="https://youtu.be/YoHD9XEInc0?si=wRZjcznYnz7AjsbB">
                <img src="/images/inception.jpg" alt="Inception" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/2" class="caption">Inception</a>
        </div>
    </div>

    <div class="box" data-id="3" data-name="The Shawshank Redemption">
        <div classs="box-img">
            <a href="https://youtu.be/PLl99DlL6b4?si=k1nctZ1gZdUguUf9">
                <img src="/images/redemption.jpg" alt="The Shawshank Redemption" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/3" class="caption">The Shawshank Redemption</a>
        </div>
    </div>

    <div class="box" data-id="4" data-name="The Notebook">
        <div classs="box-img">
            <a href="https://youtu.be/BjJcYdEOI0k?si=kerCDmd2tJVt7tiJ">
                <img src="/images/thenotebook.jpg" alt="The Notebook" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/4" class="caption">The Notebook</a>
        </div>
    </div>

    <div class="box" data-id="5" data-name="Notting Hill">
        <div classs="box-img">
            <a href="https://youtu.be/4RI0QvaGoiI?si=RJdLHSg9j3rtRhfd">
                <img src="/images/nothinghill.jpg" alt="Notting Hill" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/5" class="caption">Notting Hill</a>
        </div>
    </div>

    <div class="box" data-id="6" data-name="Enola Holmes">
        <div classs="box-img">
            <a href="https://youtu.be/1d0Zf9sXlHk?si=0fH73LPhjVOblaEe">
                <img src="/images/enola.jpg" alt="Enola Holmes" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/6" class="caption">Enola Holmes</a>
        </div>

    </div>
    <div class="box" data-id="7" data-name="Barbie">
        <div classs="box-img">
            <a href="https://youtu.be/pBk4NYhWNMM?si=4QChZQVxyXKcfMmZ">
                <img src="/images/barbie.jpg" alt="Barbie" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/7" class="caption">Barbie</a>
        </div>
    </div>

    <div class="box" data-id="8" data-name="Past Lives">
        <div classs="box-img">
            <a href="https://youtu.be/kA244xewjcI?si=vuhDvgDSCdo_q8hJ">
                <img src="/images/pastlives.jpg" alt="Past Lives" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/8" class="caption">Past Lives</a>
        </div>
    </div>

    <div class="box" data-id="9" data-name="Tin & Tina">
        <div classs="box-img">
            <a href="https://youtu.be/lQNS3AYImMI?si=Uf3dLIVfLslqAQyh">
                <img src="/images/tin.jpg" alt="Tin & Tina" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/9" class="caption">Tin & Tina</a>
        </div>
    </div>

    <div class="box" data-id="10" data-name="Spirited Away">
        <div classs="box-img">
            <a href="https://youtu.be/ByXuk9QqQkk?si=piNZT1TSQI_9tM6g">
                <img src="/images/spiritedaway.jpg" alt="Spirited Away" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/11" class="caption">Spirited Away</a>
        </div>
    </div>

    <div class="box" data-id="11" data-name="Mean Girls">
        <div classs="box-img">
            <a href="https://youtu.be/oDU84nmSDZY?si=L4BAob-XHD7FnbPW">
                <img src="/images/meangirls.jpg" alt="Mean Girls" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/11" class="caption">Mean Girls</a>
        </div>
    </div>

    <div class="box" data-id="12" data-name="Corpse Bride">
        <div classs="box-img">
            <a href="https://youtu.be/AGACeWVdFqo?si=Zjw2j11w9Z3BSZb5">
                <img src="/images/corpsebride.jpg" alt="Corpse Bride" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/12" class="caption">Corpse Bride</a>
        </div>
    </div>

    <div class="box" data-id="13" data-name="Midnight Runners">
        <div classs="box-img">
            <a href="https://youtu.be/cyVk51ksx4o?si=mUXqxUKn5oEqm89V">
                <img src="/images/midnightrunners.jpg" alt="Midnight Runners" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/13" class="caption">Midnight Runners</a>
        </div>
    </div>

    <div class="box" data-id="14" data-name="The Devil Wears Prada">
        <div classs="box-img">
            <a href="https://youtu.be/6ZOZwUQKu3E?si=0zcXmBdYiH2RK7BN">
                <img src="/images/prada.jpg" alt="The Devil Wears Prada" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/14" class="caption">The Devil Wears Prada</a>
        </div>
    </div>

    <div class="box" data-id="15" data-name="One More Chance">
        <div classs="box-img">
            <a href="https://youtu.be/ZmuQJg6ZTRU?si=HxSkL8YWiHA0G8U8">
                <img src="/images/onechance.jpg" alt="One More Chance" width=250 height=250>
            </a>
        </div>
        <div class="box-details">
            <a href="/movies/getmovie/15" class="caption">One More Chance</a>
        </div>
    </div>

</div>

<script>
    var boxElement = document.querySelector('.box'); // Get the first box element
    @@ -60, 7 + 162, 7 @@
    console.log('Movie ID:', movieId);
    console.log('Movie Name:', movieName);
</script>


